PLENYA_SOCIAL_IG_CLIENT_ID=1500645038103501
PLENYA_SOCIAL_IG_CLIENT_SECRET=replace_me

PLENYA_SOCIAL_ENCRYPTION_KEY=

PLENYA_SOCIAL_TOKENS_DIR=tokens
PLENYA_SOCIAL_OAUTH_REDIRECT_URI=http://localhost:8765/callback
PLENYA_SOCIAL_OAUTH_PORT=8765
